.comment-author {
   font-weight: 800;
   margin: 0;
}

.box_reply {
   position: relative;
}

.list-child-comment {
   margin-left: 20px;
}

.comment-time {
   color: rgb(170, 165, 165);
   font-size: 10px;
   margin: 2px 0 2px 5px;
}
