.main-post > .content {
   max-width: 700px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding-top: 50px;
}

.main-post-title {
   font-size: 32px;
   font-weight: 700;
}

.main-post-img {
   display: flex;
   justify-content: center;
   padding: 8px 0;
}

.main-post-img img {
   width: 100%;
}

.main-post-author {
   display: flex;
   gap: 5px;
   align-items: center;
   border-bottom: 1px solid #d6d6d6;
   padding-bottom: 10px;
}

.main-post-author span {
   text-transform: uppercase;
   color: #8c8c8c;
}

.main-post-category {
   padding: 8px 0;
}

.main-post-icons {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #d6d6d6;
   padding-bottom: 10px;
}

.main-post-icons > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* main-post-comment */

.main-post-comment {
   border-top: 1px solid #000;
   margin-top: 10px;
   padding: 10px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.box-comment {
   display: flex;
   justify-content: space-between;
   gap: 5px;
   align-items: flex-end;
   flex-direction: column;
}

.box-comment form {
   width: 100%;
   display: flex;
   align-items: flex-start;
   gap: 10px;
}

.comment-input {
   border: none;
   border: 1px solid #d6d6d6;
   border-radius: 15px;
   width: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-left: 8px;
   padding-top: 8px;
}

.comment-item {
   padding-top: 10px;
}

.comment-item:not(:last-child) {
   border-bottom: 1px solid #d6d6d6;
   padding: 5px 0;
}

.comment-content {
   margin-left: 10px;
   font-size: 1.1rem;
}
