.main-page {
   /* display: flex;
   justify-content: center; */
   height: 90vh;
}

.main-page > .content {
   max-width: 700px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.main-page > .content .category {
   display: flex;
   gap: 10px;
   margin-top: 50px;
}

.main-page > .content .category .category-tag {
   padding: 8px 15px;
   font-size: 14px;
   border-radius: 10px;
   cursor: pointer;
}

.main-page > .content .category .category-tag.active {
   background-color: #bab8b8;
}

.main-page > .content .category .category-tag:not(.active):hover {
   background-color: #ebebeb;
}

.main-page .post-container {
   box-sizing: border-box;
   padding-top: 20px;
}

.main-page .post-item {
   display: flex;
   gap: 10px;
   padding: 10px 5px 50px 0;
   cursor: pointer;
}

.main-page .post-item .post-item-left {
   flex-basis: 65%;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.main-page .post-item .post-item-right {
   flex-basis: 35%;
}

.main-page .post-item .post-item-left .post-item-title {
   font-weight: 700;
   font-size: 20px;
}

.main-page .post-item .post-item-left .post-item-content {
   max-height: 3.6em;
   width: 280px;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #8c8c8c;
   overflow-wrap: break-word;
}

.main-page .post-item .post-item-left .post-item-description {
   display: flex;
   align-items: center;
   gap: 3px;
   font-size: 13px;
   color: #8c8c8c;
}

.main-page .post-item .post-item-left .post-item-author {
   font-weight: 500;
   text-transform: uppercase;
}

.main-page .post-item .post-item-left .post-item-icons {
   display: flex;
   color: #8c8c8c;
   justify-content: space-between;
}

.main-page .post-item .post-item-left .post-item-icons > div {
   display: flex;
   align-items: center;
   border-radius: 10px;
   border: 1px solid;
   border-color: transparent;
}

.main-page .post-item .post-item-left .post-item-icons div:hover {
   border-color: #bab8b8;
}

.main-page .post-item .post-item-left .post-item-icons div div.icon:hover {
   background-color: inherit;
   border: none;
}

.main-page .post-item:not(:last-child) {
   border-bottom: 1px solid #ebebeb;
}

.main-page .post-item .post-item-img img {
   border-radius: 10px;
   object-fit: cover;
}

.main-page .post-item .post-item-author {
   font-weight: 700;
}

/* related */
.main-post-related {
   max-width: 50%;
   position: relative;
   margin-top: 50px;
   margin-left: 50px;
}

.related::before {
   content: '';
   width: 100px;
   height: 2px;
   background-color: red;
   position: absolute;
   top: -5px;
}

.list_related {
   display: flex;
   align-items: center;
   gap: 10px;
}

.related_item p {
   margin: 0;
   text-transform: uppercase;
   color: rgb(79, 131, 15);
   margin-bottom: 8px;
}

.related_item p:hover {
   text-decoration: underline;
   cursor: pointer;
}

.related_item h4 {
   text-transform: uppercase;
   margin: 0;
   margin-top: 4px;
}

/* tag */

.main-post-tag {
   /* margin-top: 50px;
   margin-left: 50px; */
   padding-left: 20px;
}

.list_tag {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 5px;
}

.tag_item {
   background-color: gray;
   display: inline-block;
   padding: 5px 8px;
   list-style: armenian;
   color: #fff;
   cursor: pointer;
}
