.container {
   max-width: 1420px;
   margin: 0 auto;
}

.heading {
   font-size: 1.4rem;
   padding-bottom: 5px;
}

.footer {
   display: flex;
   justify-content: center;
}

.text-error {
   color: red;
}

.btn {
   border: none;
   padding: 8px 15px;
   border-radius: 10px;
   color: #fff;
   font-weight: 600;
   display: flex;
   justify-content: flex-end;
   cursor: pointer;
   margin: 5px 0;
}

.save-btn {
   background-color: cornflowerblue;
}

.cancel-btn {
   background-color: deeppink;
}

.reply-btn {
   background-color: goldenrod;
}

.user-info {
   display: flex;
   gap: 5px;
   align-items: flex-end;
   margin-bottom: 10px;
}

.user-img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   object-fit: cover;
}

.user-fullname {
   font-weight: 600;
   font-size: 1.1rem;
   text-transform: capitalize;
}

/* pagination */
.pagination {
   display: flex;
   gap: 8px;
}
.pagination button {
   border: none;
   color: #000;
   padding: 4px 12px;
   font-size: 14px;
   border-radius: 8px;
   cursor: pointer;
}

.pagination button.active {
   color: #fff;
   background-color: cornflowerblue;
}

.flex {
   display: flex;
   gap: 5px;
}

.main-post_content p {
   font-size: 1em;
}

pre {
   counter-reset: line-numbering;
   background: #000;
   padding: 12px !important;
   color: #ecf0f1;
   line-height: 100%;
   border-radius: 10px;
   margin: 8px 0 !important;
   font-size: 1.2em;
}

pre .line::before {
   content: counter(line-numbering);
   counter-increment: line-numbering;
   padding-right: 1em;
   padding-left: 8px;
   width: 1.5em;
   text-align: right;
   opacity: 0.5;
   color: white;
}

blockquote {
   font-size: 1em;
   margin: 50px auto;
   color: #555555;
   padding: 1.2em 30px 1.2em 30px !important;
   border-left: 8px solid pink;
   line-height: 1.6;
   position: relative;
   background: #ededed;
   margin: 10px 0 !important;
}

blockquote::before {
   font-family: Arial;
   content: '\201C';
   color: gray;
   font-size: 4em;
   position: absolute;
   left: 10px;
   top: -10px;
}

blockquote::after {
   content: '';
}

blockquote span {
   display: block;
   color: #333333;
   font-style: normal;
   font-weight: bold;
   margin-top: 1em;
}

code {
   background-color: #eee;
   padding: 2px;
}
