.container {
   max-width: 1420px;
   margin: 0 auto;
}

.heading {
   font-size: 1.4rem;
   padding-bottom: 5px;
}

.footer {
   display: flex;
   justify-content: center;
}

.text-error {
   color: red;
}

.main_post_content p {
   font-size: 1em;
}

pre {
   counter-reset: line-numbering;
   background: #000;
   padding: 12px !important;
   color: #ecf0f1;
   line-height: 100%;
   border-radius: 10px;
   margin: 8px 0 !important;
   font-size: 1.2em;
}

pre .line::before {
   content: counter(line-numbering);
   counter-increment: line-numbering;
   padding-right: 1em;
   padding-left: 8px;
   width: 1.5em;
   text-align: right;
   opacity: 0.5;
   color: white;
}

blockquote {
   font-size: 1em;
   margin: 50px auto;
   color: #555555;
   padding: 1.2em 30px 1.2em 30px !important;
   border-left: 8px solid pink;
   line-height: 1.6;
   position: relative;
   background: #ededed;
   margin: 10px 0 !important;
}

blockquote::before {
   font-family: Arial;
   content: '\201C';
   color: gray;
   font-size: 4em;
   position: absolute;
   left: 10px;
   top: -10px;
}

blockquote::after {
   content: '';
}

blockquote span {
   display: block;
   color: #333333;
   font-style: normal;
   font-weight: bold;
   margin-top: 1em;
}
